@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #150021;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Teko', 'Robot', sans-serif;
}
